.idea/
.vscode/

cdsntu/cmake-build-debug/
cdsntu1/cmake-build-debug/
cdsntu2/cmake-build-debug/
cdsntu3/cmake-build-debug/
cdsntu4/cmake-build-debug/

cdsntu/.idea/
cdsntu1/.idea/
cdsntu2/.idea/

cdsntu4/.idea/

cdsntu4/.vscode/
cdsntu/.vscode/

team515.txt
cdsntu.txt
cdsntu1.zip.txt

autocontrol/.
autopilot/.
cdsntupython/.
cmake-build-debug/.
drive_car/.
showimage/.
team515/.
testing/.


